body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: auto;
}

a {
    text-decoration: none;
    color: black;

}

p + p, li + li {
    margin-top: 14px;                           /*space between paragraphs*/
}

.wrapper {
    background-image: url("../img/dots.png");
    display: flex;
    /*border: 10px solid  goldenrod;*/          /*Removed border, used for Testing*/
    border-radius: 20px;
    min-height:97vh;
    justify-content:space-around;
    max-width: 90%;
    margin: 25px auto;                          /*Added margin to auto, so it can center*/
    flex-wrap: wrap;                            /*Parts for Responsive Image*/
}

.page {
    min-width: 0;                                   /*Parts for Responsive Image*/
    /*margin: 5px;*/                                /*Parts for Responsive Image - But removed for the time being*/
}

.tele_header {
    padding: 20px;                                  /*small extra padding so it has some space from the sides*/
}

/*Responsive Image with Flexbox.*/
.img_header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 200vh;*/                               /*Removed while the temporary fix is there*/
    max-width: 80%; 
    max-height: 450px;
    justify-content: space-around;
    width: 100%;                                    /*Could be a fix to a responsive image*/
    height: auto;                                   /*Could be a fix to a responsive image*/
}

#main-nav {
    display: flex;
    /*border: 5px solid  mediumslateblue ;*/         /*Removed border, used for Testing*/
    justify-content: space-around;
    flex-wrap: wrap;

}


.nav_button {
    color:white;
    font-size: 35px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;
    text-decoration: none;
    border-radius: 15px 5px;
    margin: 10px;

}

.box1 { background:#f7d850;}
.box2 { background:#98ef71;}
.box3 { background:#9bb6f5;}
.box4 { background:#9b6a9f;}
.box5 { background:#f4769b;}
.box6 { background:#f9af50;}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: white;
    border: 10px solid #f7d850 ;
    border-radius: 20px;
    margin-top: -10px;
}

.main_list {
    border: 5px solid chartreuse;
    padding:10px;
    /*margin: 5px;*/
    flex: 2;
}

.main_content {
    border: 5px solid deepskyblue;
    padding:10px;
    /*margin: 5px;
    margin-left: 50px;*/
    flex: 6;
}

.content_image {
    border: 5px solid green;
    padding: 25px;
}

.content_text {
    border: 5px solid black;
    padding: 25px;
    margin: 10px 0;
}